//! **************************************************************************
// Written by: Map M.81d on Mon Mar 03 04:57:29 2014
//! **************************************************************************

SCHEMATIC START;
COMP "product<10>" LOCATE = SITE "AF13" LEVEL 1;
COMP "product<11>" LOCATE = SITE "AG12" LEVEL 1;
COMP "product<12>" LOCATE = SITE "AF23" LEVEL 1;
COMP "product<13>" LOCATE = SITE "H33" LEVEL 1;
COMP "product<14>" LOCATE = SITE "F34" LEVEL 1;
COMP "product<15>" LOCATE = SITE "H34" LEVEL 1;
COMP "product<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "product<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "product<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "product<3>" LOCATE = SITE "AD26" LEVEL 1;
COMP "product<4>" LOCATE = SITE "G16" LEVEL 1;
COMP "product<5>" LOCATE = SITE "AD25" LEVEL 1;
COMP "product<6>" LOCATE = SITE "AD24" LEVEL 1;
COMP "product<7>" LOCATE = SITE "AE24" LEVEL 1;
COMP "product<8>" LOCATE = SITE "E8" LEVEL 1;
COMP "product<9>" LOCATE = SITE "AG23" LEVEL 1;
TIMEGRP J_CLK = BEL "icon1/U0/U_ICON/U_TDI_reg" BEL
        "icon1/U0/U_ICON/U_TDO_reg" BEL "icon1/U0/U_ICON/U_SYNC/U_SYNC" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[0].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[1].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[2].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[3].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[4].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[5].I_NE0.U_FDR" BEL
        "icon1/U0/U_ICON/U_SYNC/G_SYNC_WORD[6].I_EQ0.U_FDR" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[6].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[7].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[8].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[9].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[10].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[11].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[12].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[13].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[14].I_NE0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_CMD/G_TARGET[15].I_EQ0.U_TARGET" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[5].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[4].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[3].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[2].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[1].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_STAT_CNT/G[0].U_FDRE" BEL
        "icon1/U0/U_ICON/U_STAT/U_TDO" BEL "vio1/U0/I_VIO/U_STATUS/U_TDO" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[0].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[1].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[2].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[3].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[4].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[5].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[6].U_FDRE" BEL
        "vio1/U0/I_VIO/U_STATUS/U_STAT_CNT/G[7].U_FDRE" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[1].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[1].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[1].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[1].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[2].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[2].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[2].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[2].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[3].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[3].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[3].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[3].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[4].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[4].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[4].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[4].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[5].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[5].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[5].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[5].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[6].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[6].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[6].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[6].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[7].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[7].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[7].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[7].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[8].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[8].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[8].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[8].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[9].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[9].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[9].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[9].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[10].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[10].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[10].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[10].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[11].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[11].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[11].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[11].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[12].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[12].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[12].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[12].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[13].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[13].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[13].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[13].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[14].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[14].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[14].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[14].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[15].ASYNC_IN_CELL/S_USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[15].ASYNC_IN_CELL/S_ASYNC_R_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[15].ASYNC_IN_CELL/S_ASYNC_F_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[15].ASYNC_IN_CELL/S_ASYNC_REG" BEL
        "vio1/U0/I_VIO/reset_f_edge/U_DOUT0" BEL
        "vio1/U0/I_VIO/reset_f_edge/U_DOUT1" BEL
        "vio1/U0/I_VIO/reset_f_edge/I_H2L.U_DOUT" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[16].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[16].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[17].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[17].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[18].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[18].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[19].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[19].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[20].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[20].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[21].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[21].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[22].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[22].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[23].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[23].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[24].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[24].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[25].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[25].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[26].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[26].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[27].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[27].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[28].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[28].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[29].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[29].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[30].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[30].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[31].UPDATE_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_UPDATE_OUT[31].UPDATE_CELL/GEN_NO_CLK.USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[0].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[0].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[1].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[1].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[2].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[2].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[3].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[3].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[4].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[4].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[5].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[5].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[6].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[6].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[7].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[7].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[8].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[8].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[9].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[9].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[10].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[10].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[11].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[11].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[12].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[12].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[13].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[13].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[14].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[14].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[15].ASYNC_OUT_CELL/SHIFT_REG" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_OUT[15].ASYNC_OUT_CELL/USER_REG" BEL
        "vio1/U0/I_VIO/U_DATA_OUT";
TIMEGRP U_CLK = BEL "icon1/U0/U_ICON/U_iDATA_CMD";
TIMEGRP D_CLK = BEL "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/S_USER_REG"
        BEL "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/U_RISING" BEL
        "vio1/U0/I_VIO/GEN_ASYNC_IN[0].ASYNC_IN_CELL/U_FALLING" BEL
        "product<0>";
TS_U_TO_J = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "J_CLK" 15 ns;
TS_U_TO_U = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "U_CLK" 15 ns;
PATH TS_J_TO_D_path = FROM TIMEGRP "J_CLK" TO TIMEGRP "D_CLK";
PATH "TS_J_TO_D_path" TIG;
PATH TS_D_TO_J_path = FROM TIMEGRP "D_CLK" TO TIMEGRP "J_CLK";
PATH "TS_D_TO_J_path" TIG;
TS_J_CLK = PERIOD TIMEGRP "J_CLK" 30 ns HIGH 50%;
PIN
        icon1/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS_pins<2>
        = BEL
        "icon1/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS"
        PINNAME SHIFT;
PIN
        "icon1/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS_pins<2>"
        TIG;
SCHEMATIC END;

